
@{
    ViewBag.Title = "Facebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-569e5ca9-73c5-4486-b80c-1abd6d6341f7"></div>

